<mat-card appearance="outlined" class="stopwatchItem" [ngClass]="{'active': isRunning}">
  <div class="mat-card-container">
    @if (isEditTitle) {
      <div class="edit">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="editedTitle">
        </mat-form-field>
        <div>
          <button mat-raised-button color="basic" (click)="cancelEditTitle()">
            <mat-icon>cancel</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="finishEditTitle()">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div>
    }
    <mat-card-title (dblclick)="editTitle($event)">
      @if (!isEditTitle) {
        <span class="title"
              title="Double click to edit">
          {{ item.name }}
        </span>
        <mat-icon class="edit-icon" aria-hidden="true"
                  (click)="editTitle($event)">edit</mat-icon>
      }
    </mat-card-title>
    <mat-card-subtitle class="time">
      {{ titleTime$ | async }}
    </mat-card-subtitle>
    @if (!displayEvents && roundsOnly.length > 1) {
      <mat-card-content class="stopwatch-rounds">
        @for (event of roundsOnly; track event._id; let i = $index) {
          <div>
            <span class="round">
              Round #{{ roundsOnly.length - i }}
              - {{ event.round ? roundsTimeStr[event._id] : '' }}
            </span>
            <span class="round-label">{{ event.name }}</span>
            @if (!item.tsArch) {
              <span class="ts-actions">
                <mat-card-actions>
                  <button mat-icon-button matTooltip="Actions" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                    <mat-menu [overlapTrigger]="false" #menu="matMenu">
                      <button mat-menu-item
                              (click)="editEvent(event, roundsOnly.length - i - 1)">Edit Label</button>
                      <button mat-menu-item
                              (click)="removeEvent(event, roundsOnly.length - i - 1)">Remove Event</button>
                    </mat-menu>
                  </button>
                </mat-card-actions>
              </span>
            }
          </div>
        }
      </mat-card-content>
    }
    @if (displayEvents) {
      <mat-card-content class="stopwatch-events">
        @for (event of revertedEvents; track event._id; let i = $index) {
          <div class="event-ts">
            <span [ngClass]="{'ignored': !event.inUse}">
              #{{ revertedEvents.length - i }}:
              <span [ngClass]="{start: event.ss, end: !event.ss}">●</span>
              <mat-form-field class="event-ts-input">
                <input matInput
                       [formControl]="$any(event.tsFormControl)"
                       [mtxDatetimepicker]="datePicker"
                       (dateChange)="modifyEvent($event, event, revertedEvents.length - i - 1)"
                       matTooltip="{{ UtilsService.formatFromNow(event.ts) }}"
                       matTooltipPosition="above">
                <mtx-datetimepicker #datePicker
                                    [type]="'datetime'"
                                    [mode]="'auto'"
                                    [touchUi]="UtilsService.isMobile()"
                                    [timeInput]="true">
                </mtx-datetimepicker>
                <mtx-datetimepicker-toggle
                  [for]="$any(datePicker)"
                  matSuffix>
                </mtx-datetimepicker-toggle>
              </mat-form-field>
              {{ event.round ? '[R]' : '' }}
            </span>
            @if (event.name) {
              <span class="round-label">{{ event.name }}</span>
            }
            @if (!item.tsArch) {
              <span class="ts-actions">
                <mat-card-actions>
                  <button mat-icon-button matTooltip="Actions" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                    <mat-menu [overlapTrigger]="false" #menu="matMenu">
                      <button mat-menu-item
                              (click)="editEvent(event, revertedEvents.length - i - 1)">Edit Label</button>
                      <button mat-menu-item
                              (click)="removeEvent(event, revertedEvents.length - i - 1)">Remove Event</button>
                    </mat-menu>
                  </button>
                </mat-card-actions>
              </span>
            }
          </div>
        }
      </mat-card-content>
    }
    @if (statsContent) {
      <mat-card-content class="stats">
        @if (statsFreq) {
          <p>
            Frequency of events: every {{ statsFreq.avgDays.toFixed(2) }} days
            (or {{ statsFreq.avgHours.toFixed(2) }} hours)
            <br>Average time per day: {{ statsAvgDay.avgTimeByDayMinutes }} minutes
          </p>
        }
        @for (stats of statsContent; track stats) {
          <div>
            <h4>{{ stats['name'] }}</h4>
            <canvas baseChart class="chart"
                    [data]="stats['data']"
                    [options]="barChartOptions"
                    [type]="'bar'">
            </canvas>
          </div>
        }
      </mat-card-content>
    }
    @if (!item.tsArch) {
      <mat-card-actions class="bottom">
        <button mat-stroked-button color="accent"
                [disabled]="addEventLocked$ | async"
                (click)="addEvent(true)">
          NEW ROUND
        </button>
        <button mat-stroked-button color="accent"
                [ngClass]="{'finished': !isRunning}"
                [disabled]="addEventLocked$ | async"
                (click)="startStopStopwatch()">
          {{ isRunning ? 'STOP' : 'START' }}
        </button>
      </mat-card-actions>
    }
  </div>
  <div class="mat-card-actions-container">
    <mat-card-actions>
      @if (isWaiting) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <button mat-icon-button matTooltip="Actions" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <mat-menu [overlapTrigger]="false" #menu="matMenu">
          <button mat-menu-item (click)="toggleArchiveItem()">
            {{ item.tsArch ? 'Un-archive' : 'Archive' }}
          </button>
          <button mat-menu-item (click)="deleteItem()">Delete</button>
          <button mat-menu-item (click)="switchDisplayRoundsEvents()">
            {{ displayEvents ? 'Show Rounds' : 'Show Events' }}
          </button>
          <button mat-menu-item (click)="toggleStats()">
            {{ statsContent ? 'Hide Stats' : 'Show Stats' }}
          </button>
        </mat-menu>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
