<mat-card appearance="outlined" class="stopwatchItem" [ngClass]="{ active: isRunning }">
  <div class="mat-card-container">
    @if (isEditTitle) {
      <div class="edit">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="editedTitle" />
        </mat-form-field>
        <div>
          <button mat-raised-button color="basic" aria-label="Cancel" (click)="cancelEditTitle()">
            <mat-icon>cancel</mat-icon>
          </button>
          <button mat-raised-button color="primary" aria-label="Done" (click)="finishEditTitle()">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div>
    }
    <mat-card-title (dblclick)="editTitle($event)">
      @if (!isEditTitle) {
        <span class="title" title="Double click to edit">
          {{ item().name }}
        </span>
        <mat-icon class="edit-icon" aria-hidden="true" (click)="editTitle($event)">edit</mat-icon>
      }
    </mat-card-title>
    <mat-card-subtitle class="time">
      {{ titleTime$ | async }}
    </mat-card-subtitle>
    @if (!displayEvents && roundsOnly.length > 1) {
      <app-stopwatch-rounds
        [rounds]="roundsOnly"
        [roundsTimeStr]="roundsTimeStr"
        [archived]="!!item().tsArch"
        (edit)="editEvent($event.event, $event.idx)"
        (remove)="removeEvent($event.event, $event.idx)"
      ></app-stopwatch-rounds>
    }
    @if (displayEvents) {
      <app-stopwatch-events
        [events]="revertedEvents"
        [archived]="!!item().tsArch"
        (modify)="modifyEvent($event.datePickerEvent, $event.event, $event.idx)"
        (edit)="editEvent($event.event, $event.idx)"
        (remove)="removeEvent($event.event, $event.idx)"
      ></app-stopwatch-events>
    }
    @if (statsContent) {
      <app-stats-content
        [statsContent]="statsContent"
        [statsFreq]="statsFreq"
        [options]="barChartOptions"
      >
        <br />Average time per day: {{ statsAvgDay?.avgTimeByDayMinutes }} minutes
      </app-stats-content>
    }
    @if (!item().tsArch) {
      <mat-card-actions class="bottom">
        <button
          mat-stroked-button
          color="accent"
          [disabled]="addEventLocked()"
          (click)="addEvent(true)"
        >
          NEW ROUND
        </button>
        <button
          mat-flat-button
          color="primary"
          [ngClass]="{ finished: !isRunning }"
          [disabled]="addEventLocked()"
          (click)="startStopStopwatch()"
        >
          {{ isRunning ? 'STOP' : 'START' }}
        </button>
      </mat-card-actions>
    }
  </div>
  <div class="mat-card-actions-container">
    <mat-card-actions>
      @if (isWaiting) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <button mat-icon-button matTooltip="Actions" aria-label="Actions" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <mat-menu [overlapTrigger]="false" #menu="matMenu">
          <button mat-menu-item (click)="toggleArchiveItem()">
            {{ item().tsArch ? 'Un-archive' : 'Archive' }}
          </button>
          <button mat-menu-item (click)="deleteItem()">Delete</button>
          <button mat-menu-item (click)="switchDisplayRoundsEvents()">
            {{ displayEvents ? 'Show Rounds' : 'Show Events' }}
          </button>
          <button mat-menu-item (click)="toggleStats()">
            {{ statsContent ? 'Hide Stats' : 'Show Stats' }}
          </button>
        </mat-menu>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
