<section>
  <button class="add-sticky" mat-fab color="primary" aria-label="Add Last Time"
          matTooltip="Add Last Time"
          (click)="addLastTime()">
    <mat-icon>add</mat-icon>
  </button>
  @if ((dataService.dbLoaded$ | async) === false) {
  }
  @else if (dataService.lastTimeLoadingAll()) {
    @defer (on timer(100ms)) {
      <div class="empty-list">Loading...</div>
    }
  }
  @else {
    @if (dataService.lastTimeList(); as lastTimeList) {
      @for (item of lastTimeList; track item._id) {
        <app-last-time [item]="item"></app-last-time>
      }
      @empty {
        <div class="empty-list">Empty list</div>
      }
    }
  }
</section>
