<section>
  <button class="add-sticky" mat-fab color="primary" aria-label="Add Last Time"
          (click)="addLastTime()">
    <mat-icon>add</mat-icon>
  </button>
  @if (dataService.lastTimeList$ | async; as lastTimeList) {
    @if (lastTimeList.length) {
      @for (item of dataService.lastTimeList$ | async; track item._id) {
        <app-last-time [item]="item"></app-last-time>
      }
      @empty {
        <div class="empty-list">Empty list</div>
      }
    }
    @else {
      <div class="empty-list">Loading...</div>
    }
  }
</section>
