<mat-toolbar>
  <span class="title"><a (click)="navigateToMain()">Time Tracker</a></span>
  <span class="spacer"></span>
  @if (isSyncActive) {
    <div class="spinner"></div>
  }
  <div id="connection-status">
    @if (isConnected) {
      <span class="connected" [ngClass]="{'no-auth': isSyncError}">
        <span>●</span>
      </span>
    }
    @else {
      <span class="disconnected">
        <span>●</span>
      </span>
    }
  </div>
  <button mat-icon-button class="settings-icon" aria-label="Settings"
          (click)="onClickSettings()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div id="main">
  <router-outlet></router-outlet>
</div>
